<a href="https://colab.research.google.com/github/Sarwat-Bashir/Data-Analytics_Using_Python/blob/main/Program%20to%20convert%20a%20NumPy%20array%20to%20a%20Pandas%20Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program to convert a NumPy array to a Pandas Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
np_array = np.array([10, 20, 30, 40, 50])

In [3]:
p_series = pd.Series(np_array)

In [4]:
print(p_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64