<a href="https://colab.research.google.com/github/Sarwat-Bashir/Data-Analytics_Using_Python/blob/main/Program%20to%20perform%20addition%2C%20subtraction%2C%20multiplication%2C%20and%20division%20on%20two%20pandas%20series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program to perform addition, subtraction, multiplication, and division on two pandas series

In [1]:
import pandas as pd

In [2]:
s1 = input("Enter numbers for Series 1, separated by commas: ")
s2 = input("Enter numbers for Series 2, separated by commas: ")

Enter numbers for Series 1, separated by commas: 2,4,6,8,10
Enter numbers for Series 2, separated by commas: 1,2,5,7,9

In [3]:
s1 = pd.Series([float(x) for x in s1.split(",")])
s2 = pd.Series([float(x) for x in s2.split(",")])

In [5]:
# Perform operations
addition = s1 + s2
subtraction = s1 - s2
multiplication = s1 * s2
division = s1 / s2

In [7]:
# Display results
print("\nSeries 1:\n", s1)
print("\nSeries 2:\n", s2)
print("\nAddition:\n", addition)
print("\nSubtraction:\n", subtraction)
print("\nMultiplication:\n", multiplication)
print("\nDivision:\n", division)

Series 1:
 0     2.0
1     4.0
2     6.0
3     8.0
4    10.0
dtype: float64

Series 2:
 0    1.0
1    2.0
2    5.0
3    7.0
4    9.0
dtype: float64

Addition:
 0     3.0
1     6.0
2    11.0
3    15.0
4    19.0
dtype: float64

Subtraction:
 0    1.0
1    2.0
2    1.0
3    1.0
4    1.0
dtype: float64

Multiplication:
 0     2.0
1     8.0
2    30.0
3    56.0
4    90.0
dtype: float64

Division:
 0    2.000000
1    2.000000
2    1.200000
3    1.142857
4    1.111111
dtype: float64